image:
  repository: dmitrik2026/dmitri-hello-world
  tag: ""
  pullPolicy: IfNotPresent

serviceAccount:
  create: false
  name: ""

service:
  enabled: false
  type: ClusterIP
  port: 8080
  targetPort: 8080

job:
  backoffLimit: 1
  restartPolicy: Never

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi
